.game-screen{
  position: relative;
  width: 60vw;
  height: 600px;
  left: 0%;
  background-color: #222;
}
canvas{
  width: 100%;
  height: 100%;
}
.container{
  width: 100vw;
  height: 100vh;
  background-color: #5643CC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}

.game{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score span{
  font-size: 30px;
  color: whitesmoke;
  font-weight: bolder;
  font-family: sans-serif;
}
.score{
  margin-bottom: 20px;
}

.winner span{
  color: whitesmoke;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bolder;
}


