.bar{
  width: 100vw;
  height: 50px;
  background-color: #222222;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5%;
}
.back a{
  text-decoration: none;
  color: whitesmoke;
  font-size: 25px;
  font-weight: bold;
  position: relative;
  left: 90%;
}

.tittle {
  color: whitesmoke;
  float: left;
  left: -50%;
  position: relative;
}

.tittle span{
  font-size: 25px;
  font-weight: bolder;
}
