<div class="container">
  <div class="box-area">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </div>

  <div class="library">

    <div class="game">
      <div class="game-name">
        <span>Snake Game</span>
      </div>
      <div class="game-image">
        <img src="">
      </div>
      <div class="play">
        <a routerLink="snake">Play Now !</a>
      </div>
    </div>

    <div class="game">
      <div class="game-name">
        <span>Tic Tac Toe</span>
      </div>
      <div class="game-image">
        <img src="">
      </div>
      <div class="play">
        <a routerLink="X-O">Play Now !</a>
      </div>

    </div>


  </div>
</div>
